@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('Open-sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
    --main-color: #1DB954;
    --secondary-color: #FFA500;
}


html {
    font-size: 1.25em;
    font-family: Open Sans;
    
}

body {
    background-color: #1B1B1B;
    color: white;
    margin: 0;
}

h1 {
    font-family: Montserrat;
    color: #1DB954;
}
h2 {
    font-family: Roboto;
    color: #FFA500;
}

a {
    color: white;
    font-size: 1.5em;
    background-color: #FFA500;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 1em;
}

form input {
    background: none;
    color: white;
    border: 1px solid white;
}

.displaynone {
    display: none;
}